name: permis
display-name: Addon de permis
author: Miister
version: 0.1
description: Addon de permis afin de passer le permis de conduire, moto, arme
url: http://mlife.fr/
update-url: http://mlife.fr/version.txt
last-version-url: http://mlife.fr/permis.sk
auto-update: true
local-modification: false


#======= HELP =======#
#name - nom de l'addon techniquement parlant
#display-name - nom de l'addon d'affichage
#author - Auteur(s) de l'addon
#version - Version de l'addon
#description - Description de l'addon
#url - url de l'addon
#update-url - URL contenant la dernière version pour check les MAJ
#last-version-url - URL contenant la derniere version du Skript, et doit avoir le même nom que le "name:"
#auto-update - Activer ou non les autoupdates
#local-modification - Autoriser un utilisateur à modifier la config ou le .sk (à voir)
#=====================#
